/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-nov-2017, 15:48:03
    Author     : Jowelle
*/
body
{
    background-color: #dfebf5;
    margin-top: 80px;
    margin-bottom: 0;
}

.ui-growl{
    top:80px !important;
}

#content
{
    display: inline-block;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    padding-top: 1% !important;
    padding-bottom: 4% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
    width: 100% !important;
    text-align: left !important;
    box-sizing: inherit !important;
    padding-top: 6% !important;
    padding-bottom: 21% !important;
}

.rooster-width
{
    width: 60%;   
}

h1, h2, h3
{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    color: #0078c9 !important;
}

th
{
    color: #666666;
}

li
{

}
.col-5 .col-6 .col-4 .col-8
{
    background-color: #ffffff;
    display: inline-block;
}

.mt-3
{
    background-color: #ffffff; 
}

.container-move
{
    margin-top: 20%;
    margin-left: 5% !important;
}

.container
{
    margin-top: 4%;
    background-color: #ffffff !important;
}

.calendar 
{
    float: left;
    width: 55%;
    margin: 20px;
    margin-bottom: 8% !important;
}

.move-listbox
{
    position: absolute;
}

.defaultContent
{
    background-color: #dfebf5;
}

.bordershadow
{
    box-shadow: 2px 2px 4px #ccc;
}

.aanmelding-padding
{
    padding-bottom: 10px;
}

.list-box
{
    margin-top: 10%;
    padding: 20px 20px 20px 20px;
    box-shadow: 2px 2px 4px #ccc;
    height: 100%;
    background-color: #ffffff;
}