/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-nov-2017, 15:48:03
    Author     : Jowelle
*/

body
{
    
    background-color: #dfebf5;
}
.defaultContent
{
    background-color: #dfebf5;
}
#content
{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    padding-top: 1% !important;
    padding-bottom: 4% !important;
    padding-left: 7% !important;
    padding-right: 7% !important;
    width: 100% !important;
    text-align: left !important;
    box-sizing: inherit !important;
}

.col-5
{
    background-color: #ffffff;
}

.col-6
{
    background-color: #ffffff;
}

.mt-3
{
   background-color: #ffffff; 
}

.container-move
{
    margin-top: 20%;
    margin-left: 5% !important;
}

.container
{
    margin-top: 4%;
    background-color: #ffffff !important;
}

.calendar 
{
    float: left;
    width: 55%;
    margin: 20px;
    margin-bottom: 8% !important;
}

.move-listbox
{
    position: absolute;
}