/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-okt-2017, 14:27:15
    Author     : Jowelle
*/
/*          SCHEDULE TABLE
-------------------------------------------------------------------*/

table 
{
    width: 100%;
}


table.menu 
{
    width: auto;
    margin-right: 0px;
    margin-left: auto;
}

table th 
{
    font-weight: normal;
    vertical-align: top;
}